@import 'tailwindcss';

html,
body {
    @apply h-full dark:bg-gray-950 dark:text-white
}


@theme inline {
    --color-primary-fg: var(--color-black);
    --color-primary: var(--color-lime-100);
    --color-secondary-fg: var(--color-black);
    --color-secondary: var(--color-orange-300);
}

@media (prefers-color-scheme: dark) {
    @theme inline {
        --color-primary-fg: var(--color-gray-100);
        --color-primary: var(--color-gray-800);
        --color-secondary-fg: var(--color-white);
        --color-secondary: var(--color-orange-600);
    }
}